/* NLDB, Pecacheu 2025. GNU GPL v3 */
* { box-sizing:border-box; }

/* Theme */
body,body[data-bs-theme=dark] {
	--h1:0; --sl1:0%,0%; --h2:0;
	--hdr-fg:#ffffffcc;
	--hdr-bg:hsl(var(--h1), var(--sl1));
	--hdr-bg2:hsla(var(--h1), var(--sl1), .95);
	--hdr-bg-dark:hsl(var(--h1), 70%, 40%);
	--hdr-bg-dark2:hsl(var(--h1), 60%, 20%);
	--bg:hsl(var(--h2), 11%, 12%);
	--ftr-bg:hsl(var(--h2), 10%, 19%);
	--bs-link-color:hsl(var(--h2), 100%, 65%);
	--bs-link-hover-color:hsl(var(--h2), 70%, 45%);
	--bs-border-color:#ffffff30;
	--dim1:#ffffff33;
	--dim2:#ffffff20;
	--dim3:#ffffff70;
	--bs-body-bg:var(--bg);

	--pri1:hsl(var(--h1), 88%, 49%);
	--pri1-hover:hsl(var(--h1), 84%, 42%);
	--pri1-active:hsl(var(--h1), 82%, 38%);
	--pri2:hsl(var(--h2), 88%, 49%);
	--shadow1:0 0 0 .25rem hsla(var(--h1), 70%, 40%, .5);
	--shadow2:0 0 0 .25rem hsla(var(--h2), 90%, 76%, .3);
	--border-sel:hsl(var(--h2), 98%, 80%);

	--hdr-h:48px;
	--hdr-bs:calc(var(--hdr-h) - 10px);
	--bs-nav-link-padding-y:4px;
}
body[data-bs-theme=light] {
	--bs-body-color:#000;
	--hdr-bg-dark:hsl(var(--h1), 80%, 60%);
	--hdr-bg-dark2:hsl(var(--h1), 80%, 83%);
	--bg:hsl(var(--h2), 36%, 95%);
	--ftr-bg:hsl(var(--h2), 34%, 91%);
	--bs-link-color:hsl(var(--h2), 75%, 25%);
	--bs-link-hover-color:hsl(var(--h2), 80%, 45%);
	--bs-border-color:#00000030;
	--dim1:#00000033;
	--dim2:#00000040;
	--dim3:#00000070;
	--bs-body-bg:var(--ftr-bg);

	--shadow2:0 0 0 .25rem hsla(var(--h2), 80%, 45%, .3);
	--border-sel:hsl(var(--h2), 75%, 25%);
}
body[data-bs-theme=light] #LOAD {
	color:#000; background:#ddd;
}

/* Base */
body {
	font:14pt 'Open Sans'; background:var(--bg);
	margin:0; padding:calc(var(--hdr-h) + 10px) 10px 10px 10px;
}
body[load] *:not(.fade,.ll) { transition:all .15s; }
body.fixed { padding-bottom:var(--hdr-h); }
::selection { background:hsla(var(--h1), var(--sl1), .5); }
h1 { font-size:30pt; font-weight:100; margin-bottom:1rem; }
h2 { font-size:20pt; font-weight:100; margin-bottom:1rem; }
h4 { font-size:15pt; font-weight:100; margin-bottom:1rem; }
p,h1,h2,h3,h4,h5,h6,code,label { overflow-wrap:anywhere; }
label:not(.pc) { font-size:12pt; font-weight:100; }
td { padding:0; }

/* Retro Theme */
body.retro {
	background:url(bg.jpg) center / cover fixed;
	--ftr-bg:hsla(var(--h2), 10%, 19%, .7);
	--bg:hsla(var(--h2), 11%, 12%, .6);
}
body[data-bs-theme=light].retro {
	--ftr-bg:hsla(var(--h2), 34%, 91%, .5);
	--bg:hsla(var(--h2), 36%, 95%, .6);
}
body.retro .modal-content { backdrop-filter:blur(5px); }
body.retro .lv { backdrop-filter:blur(20px); }

#BG { position:fixed; z-index:-1; }
body.retro #BG {
	top:0; left:0; width:100%; height:100%;
	background:hsla(var(--h2), 11%, 12%, .7);
}
body[data-bs-theme=light].retro #BG {
	background:hsla(var(--h2), 25%, 92%, .7);
}

/* Inputs */
.inp { position:relative; }
.FAB { position:absolute; bottom:5px; right:5px; }
.iLnk { display:block; width:fit-content; }
.lbl {
	margin:0; padding:0 var(--bs-border-radius);
	border-radius:var(--bs-border-radius) var(--bs-border-radius) 0 0;
	background:var(--bs-border-color);
}
:has(:is(input,textarea,select):focus) > .lbl { background:none; }
:has(:is(input,textarea,select):not(:focus)) > .iLbl { border-top-left-radius:0; }
div.iLbl { position:relative; color:var(--bs-secondary-color); }
div.iLbl:has(.fInp):not(:has(img)) { padding-right:.375rem; }
div.iLbl:has(img) { padding:0; }
.iLbl > input {
	position:absolute; width:100%; height:100%; top:0; left:0;
	opacity:0; background:none; outline:none; border:none;
	padding:.375rem calc(34px + .75rem) .375rem .75rem;
}
.iLbl > input::file-selector-button { display:none; }
.cInp { display:flex; gap:10px; align-items:center; }
.fInp { display:flex; gap:5px; align-items:start; }
.fInp span { flex-grow:1; pointer-events:none; }
.tabB {
	padding:0 10px 3px 10px;
	color:var(--bs-body-color); background:var(--bs-border-color);
	border-radius:0 0 var(--bs-border-radius) var(--bs-border-radius);
	--bs-btn-hover-bg:var(--dim2); --bs-btn-active-bg:var(--dim2);
	--bs-btn-focus-box-shadow:var(--shadow2);
}

/* Table */
.tCont {
	overflow:hidden; overflow-x:auto; border-radius:10px;
	border:1px solid var(--bs-border-color);
}
.table { min-width:max-content; margin-bottom:0; }
.table td { max-width:95vw; }
.table tr:last-child td { border-bottom:0; }
.table * { text-align:center; }
.table a { transition:none !important; }
.table a:not(:hover) { text-decoration:none; }

/* BS Fixes */
.icon-link-hover {
	--bs-icon-link-transform:translate(0, -.125rem);
	text-decoration:none;
}
.icon-link-hover:hover span { text-decoration:underline; }
a,label.pc { color:var(--bs-link-color); }
a:hover,label.pc:hover { color:var(--bs-link-hover-color); }
.form-control { overflow:hidden; }
.form-select { background-clip:padding-box; }
.form-control:focus,.form-select:focus,
.form-check-input:focus,.nav-link:focus-visible,
.pc:focus-visible,.pc:has(input:checked)  {
	border-color:var(--border-sel); box-shadow:var(--shadow2);
	outline:none;
}
:has(input:focus) > .iLbl {
	border-color:var(--border-sel); box-shadow:var(--shadow2);
}
textarea.form-control {
	transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
select::-webkit-scrollbar { width:0; }
.form-select[multiple] { min-height:var(--hdr-h); padding:4px 6px; scrollbar-width:none; }
.form-select[multiple] option {
	border-radius:99vh; padding:2px 10px; margin:2px 0;
	transition:none; overflow:hidden; text-overflow:ellipsis;
}
.form-select[multiple] option:disabled { opacity:.5 !important; }
.form-select[multiple]:not(:focus) option:checked { opacity:.7; }
.form-select[multiple] option:checked {
	background:linear-gradient(0deg, var(--border-sel) 0%, var(--border-sel) 100%);
	color:selecteditemtext;
}
[data-bs-theme=dark] .fsUA {
	--bs-form-select-bg-img:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dee2e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 11 6-6 6 6'/%3e%3c/svg%3e");
}
.fsUA {
	--bs-form-select-bg-img:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 11 6-6 6 6'/%3e%3c/svg%3e");
}
.form-switch { margin:0; padding:0; }
.form-switch .form-check-input {
	margin:0 10px 0 0; vertical-align:middle;
	--bs-form-switch-bg:none !important;
	background-clip:padding-box;
}
.form-check-input::after {
	display:block; width:100%; height:100%;
	content:''; background:var(--bs-border-color);
	transition:mask-position .15s ease-in-out,-webkit-mask-position .15s ease-in-out;
	mask:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3'/%3e%3c/svg%3e") left center no-repeat;
	-webkit-mask:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3'/%3e%3c/svg%3e") left center no-repeat;
}
.form-check-input:checked { background:var(--pri2); border-color:var(--bs-border-color); }
.form-check-input:focus::after { background:var(--border-sel); }
.form-check-input:checked::after {
	background:#fff; mask-position:right center;
	-webkit-mask-position:right center;
}
.btn { border-color:#00000000 !important; }
.btn-primary {
	--bs-btn-bg:var(--pri1);
	--bs-btn-hover-bg:var(--pri1-hover);
	--bs-btn-active-bg:var(--pri1-active);
	--bs-btn-disabled-bg:var(--pri1-active);
	--bs-btn-focus-box-shadow:var(--shadow1);
}
.nav-underline { padding:5px; row-gap:normal; }

.offcanvas { --bs-offcanvas-width:350px; }
.offcanvas-title { font-size:21px; }
.offcanvas-header { background:var(--hdr-bg-dark); }
.offcanvas-body { background:var(--hdr-bg-dark2); }
@media(max-width:400px) {
	.offcanvas.offcanvas-end { border:none; width:100%; }
}
div.modal {
	--bs-modal-margin:1.75rem;
	--bs-modal-box-shadow:var(--bs-box-shadow-sm);
}
div.modal.mSnap {
	--bs-modal-margin:.5rem;
	--bs-modal-box-shadow:var(--bs-box-shadow);
}
div.modal-dialog { max-width:var(--bs-modal-width); margin:var(--bs-modal-margin) auto; }
.modal.mSnap .modal-dialog { max-width:unset; margin:var(--bs-modal-margin); }
.modal-title { font-size:1.25rem; }

#MHB,#MHB *,.nav *,.lv :not(a) { transition:none !important; }
:is(#HDR,#OB,.fInp) button:hover,.rnb:hover { background:var(--hover-bg); }
:is(#HDR,#OB,.fInp) button:focus-visible,.rnb:focus-visible {
	outline:0; background:var(--hover-bg);
	box-shadow:0 0 0 .25rem var(--hover-shadow);
}

/* Header & Footer */
#HDR {
	position:fixed; top:0; left:0; width:100%; height:var(--hdr-h); padding:5px;
	z-index:990; color:var(--hdr-fg); box-shadow:0 -20px 10px 20px #000;
	background:linear-gradient(var(--hdr-bg),var(--hdr-bg2));
	user-select:none; transition:transform .2s;
}
#HDR,.fInp { --hover-bg:#00000033; --hover-shadow:#0000001a; }
.rnb { --hover-bg:#ffffff33; --hover-shadow:#ffffff1a; }
#HDR button,.fInp button,.rnb {
	width:var(--hdr-bs); height:var(--hdr-bs); font-size:var(--hdr-bs);
	border:none; padding:0; color:inherit; background:none;
	border-radius:99vh; vertical-align:top; overflow:hidden;
}
:is(#HDR,.bGrp) button:not(:last-child) { margin-right:5px; }
#HDR #SAVE { width:auto; margin:0; }
#HDR #SAVE:hover { background:none; opacity:.8; }
#SAVE object { height:38px; pointer-events:none; }
.itl {
	display:flex; align-items:flex-end;
	justify-content:space-between;
}
.itlBar { align-items:center; }
.bGrp { display:flex; align-items:inherit; }
body[data-bs-theme=light] .itl {
	--hover-bg:#00000033; --hover-shadow:#0000001a;
}
body:not([data-bs-theme=light]) .fInp { --hover-bg:var(--dim2); }
.fInp button {
	position:relative; width:auto; height:auto;
	border-radius:8px; padding:0 5px;
}
.sIcon {
	display:inline-block; width:26px; height:26px; background:var(--hdr-fg);
	mask:url(search.svg) center / contain no-repeat;
	-webkit-mask:url(search.svg) center / contain no-repeat;
}
#LOGO {
	position:absolute; top:5px; left:0; width:100%;
	height:calc(100% - 10px); z-index:-1; background:var(--hdr-fg);
	mask:url(/logoSml.png) center / contain no-repeat;
	-webkit-mask:url(/logoSml.png) center / contain no-repeat;
}
#HM { float:right; }
#MHB.user { background:#0000001a; font-size:14pt; }
#MHB.user i { display:none; }

#FTR {
	position:fixed; bottom:0; left:0; width:100%; text-align:center;
	z-index:990; padding:5px; font-size:12pt; background:var(--ftr-bg);
	user-select:none; transition:transform .2s;
}
#FTR img { height:20px; margin-right:1px; vertical-align:bottom; }
#FTR a { color:inherit; text-decoration:none; cursor:pointer; }
#FTR a:hover { text-decoration:underline; }

#HDR.hide { transform:translateY(-100%); box-shadow:none; }
#FTR.hide { transform:translateY(100%); }

/* Menus */
#OB { padding:12px; }
#OB > * { padding:8px 16px; margin-bottom:10px; text-align:center; }
#OB button > :first-child { width:25px; }
#O_QR div {
	height:22px; background:currentColor;
	mask:url(qr.svg) center / contain no-repeat;
	-webkit-mask:url(qr.svg) center / contain no-repeat;
}
#OB button span { flex-grow:1; text-align:center; }
#OB button {
	--hover-bg:#0000004d; --hover-shadow:#00000033;
	display:flex; width:100%; border:none; border-radius:99vh;
	user-select:none; font-size:14pt; font-weight:100;
	align-items:center; background:#00000033;
}

#MB > * { margin-bottom:10px; }
#MB canvas { width:100%; }
.modal-footer { justify-content:flex-start; }
#M_NC { margin-left:auto; }

/* Page */
:is(#OB,#MB,#CONT,.pc,.ll,.lv,.iv,.pc > div div) > :last-child { margin-bottom:0; }

.na,.scr { display:block; text-align:center; color:var(--dim1); }
.scr {
	width:60px; height:25px; border-radius:10px; font-size:30pt;
	margin:auto; background:var(--ftr-bg); user-select:none;
}
.scr * { line-height:0; }

.cl { display:flex; flex-wrap:wrap; gap:10px; }
.cc {
	display:block; width:150px; border-radius:10px; padding:10px;
	text-align:center; text-decoration:none; background:var(--ftr-bg);
}
@media(max-width:330px) {.cc { width:100%; }}

.pl { max-width:500px; margin:auto; }
.ll .pc { max-width:300px; }
label.pc { cursor:pointer; }
.pc input { position:absolute; pointer-events:none; opacity:0; }
.pc,.hc {
	display:block; border-radius:10px;
	padding:10px; margin-bottom:10px;
	text-decoration:none; background:var(--ftr-bg);
	border:1px solid var(--bs-border-color);
}
.pc h1 { font-size:22pt; }
.pc h2 { font-size:18pt; }
.pc h2,.pc h4 { color:var(--dim3); }
.pc p { margin:5px 0 0 0; font-size:12pt; }
.pc p,.pcd { color:var(--bs-body-color); }
.pc > div:not(.pcd) { display:flex; gap:10px; }
.pc > div div * { margin-bottom:5px; }
.pc > * { margin-bottom:5px; }

.hc > div:not(:last-child) { margin-bottom:5px; }
.hc > div:first-child { display:flex; justify-content:space-between; }
.hcd { font-weight:100; text-align:right; }
.hcc,.hcd { color:var(--dim3); }
.pc code,.hc code { font-size:inherit; }

.desc { white-space:pre-wrap; }
.pv { flex-grow:1; }
.pv table { margin-bottom:1rem; }
.pv td { vertical-align:top; }
.pv td:last-child { padding-left:10px; }
.pv td img,.pc img { height:96px; border-radius:10px; }
.pv td h2 { margin:0; }
tr.sel td { background:var(--hdr-bg-dark); }

.hr {
	border-bottom:1px solid var(--bs-border-color);
	padding-bottom:12px;
}
h3.hr { margin-bottom:12px; }

#CONT:has(.iv) {
	display:flex; flex-direction:column;
	justify-content:space-between; min-height:100%;
}
@media(min-width:790px) {
	#CONT:has(.iv) { flex-direction:row; }
	.iv {
		min-width:400px; margin-left:10px; padding-left:10px;
		border-left:1px solid var(--bs-border-color);
	}
	.iv h2 { font-size:30pt; }
}

.lv {
	position:fixed; left:0; bottom:0;
	width:100%; padding:10px 10px 40px 10px;
	border-top:1px solid var(--bs-border-color);
	background:var(--bg);
}
.lv > * { margin-bottom:10px; }
body:has(#CONT > .lvFull) { overflow:hidden; }
.lvFull {
	height:100%; z-index:999;
	padding-bottom:20px; overflow-y:auto;
}

/* Labels */
.ht-c,.ht-d,.ht-m,.ht-a { border-radius:10px; padding:0 6px; color:#222; }

.ht-c { background:hsl(110, 75%, 50%); }
.ht-d { background:hsl(0, 85%, 50%); }
.ht-m { background:hsl(190, 75%, 50%); }
.ht-a { background:hsl(60, 75%, 50%); }

body[data-bs-theme=light] .ht-c { background:hsl(110, 100%, 25%); color:#fff; }
body[data-bs-theme=light] .ht-d { background:hsl(0, 70%, 50%); color:#fff; }
body[data-bs-theme=light] .ht-m { background:hsl(190, 100%, 25%); color:#fff; }
body[data-bs-theme=light] .ht-a { background:hsl(60, 70%, 50%); color:#fff; }

/* Font */
@font-face {
	font-family:'Open Sans'; font-weight:100;
	src:url(type/OpenSansLight.woff2) format('woff2');
}
@font-face {
	font-family:'Open Sans'; font-weight:400;
	src:url(type/OpenSansReg.woff2) format('woff2');
}
@font-face {
	font-family:'Open Sans'; font-weight:700;
	src:url(type/OpenSansBold.woff2) format('woff2');
}

/* Icons */
@font-face {
	font-display:block; font-family:'bs-icon';
	src:url(type/BootstrapIcons.woff2) format('woff2');
}
.bi {
	display:inline-block; font-family:bs-icon !important;
	font-style:normal; font-weight:normal !important;
	font-variant:normal; text-transform:none; line-height:1;
	-webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
}
.i20 { font-size:20px; }
.i22 { font-size:22px; }
.i22t { font-size:22px; transform:translateY(.125em); }
.i24 { font-size:24px; }
.i28 { font-size:28px; }